h2{
    color:blue;
}

.boxmodel{
    border:5px solid red;
    display:inline-block;
    padding:20px;

}

.boxmodelA{
    padding:25px 20px 25px 20px;   /* top right bottom left  */    
    margin:10px 100px;    /* top bottom, left and right, if type in 4 pxs it will be top right bottom left*/  
}

